<h1>List of Contests</h1>
<%= form_tag contests_path, :method => 'get', :id => "contest_search" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :description => nil %>
  </p>
<%end%>

<h3><%= pluralize(@contests.length, 'contest', 'contests') %></h3>

<div id= "pagination">
  <%if @contests.blank?%>
    <h3><%="There are no contests available!"%></h3>
  <% else %>
     <% @contests.each do |contest| %>
        <li><%= link_to contest.name, contest %>
          <% if current_user==contest.user and current_user.contest_creator %>
            | <%= link_to 'edit', edit_contest_path(contest) %>
          <% end %>
        </li>
    <% end %>
  <% end %>
  <%= will_paginate %>
</div>
