<h1>Contest information</h1>

<% if current_user==@contest.user and current_user.contest_creator %>
  <%= link_to 'edit', edit_contest_path(@contest) %>
<% end %>
<br/>
<p>Name: <%= @contest.name %></p>
<p>Deadline: <%= distance_of_time_in_words_to_now(@contest.deadline) %></p>
<p>Description: <%= @contest.description %></p>
<p>Managing referee: <%= link_to @contest.referee.name, @contest.referee %></p>
<p>Contest creator: <%= link_to @contest.user.username, @contest.user %></p
<br/>
<p>Tournaments: <%= render @contest.tournaments %></p>

<br/>
<p>Create <%= link_to 'New Player', new_contest_player_path(@contest) %> for this contest.</p>
<% if current_user==@contest.user and current_user.contest_creator %>
  <p>Create <%= link_to 'New Tournament', new_contest_tournament_path(@contest) %> for this contest.</p>
<% end %>
<br/>
<p> Challenge other players.  </p>


<h1> Challenge in <%= link_to @contest.name %></h1>


<div class="form-group">
    <p><strong>My Player</strong></p>
    <br/>
</div>

<!-- shows players not made by current user entered in contest-->
<div class="form-group">
    <p><strong>Challenge Player(s)</strong></p>
    <% @contest.players.each do |p| %>
	<%if current_user.id != p.user_id %>
        	<%= check_box_tag "contest[player_ids][#{p.id}]", 1, false %>
        	<%= label_tag "contest[player_ids][#{p.id}]","#{p.name} | #{p.user.username}" %>
	<%end%>
	<br />
    <% end %>
</div>

