<h1>Contest</h1>
<p>Name: <%= @contest.name %></p>
<p>Deadline: <%= distance_of_time_in_words_to_now(@contest.deadline) %></p>
<p>Start: <%= distance_of_time_in_words_to_now(@contest.start) %></p>
<p>Description: <%= @contest.description %></p>
<p>Contest type: <%= @contest.contest_type %></p>
<p>Managing referee: <%= link_to @contest.referee.name, @contest.referee %></p>
<p>Contest creator: <%= link_to @contest.user.username, @contest.user %></p>

<p>Create <%= link_to 'New Player', new_contest_player_path(@contest) %> for this contest.</p>
