<h1><%= @user.username %></h1>
<p>Email: <%= @user.email %></p>

<h2>Players</h2>
<ul>
    <% @user.players.each do |player| %>
        <li>
            <%= link_to player.name, player %>
            <% if current_user?(@user) %>
                | <%= link_to 'delete', player_path(player), method: :delete %>
            <% end %>
        </li>
    <% end %>
</ul>

<p><%= pluralize(@user.players.count, 'player') %></p>

<% if @user.contest_creator %>
    <h2><%= pluralize(@user.referees.count, 'Referee') %></h2>
    <ul>
        <% @user.referees.each do |ref| %>
            <li>
                <%= link_to ref.name, ref %>
                <% if current_user?(@user) %>
                    | <%= link_to 'delete', referee_path(ref), method: :delete %>
                <% end %>
            </li>
        <% end %>
    </ul>
<% end %>
