<h1>Player Information</h1>

<% if current_user == @player.user %>
    <%= link_to 'edit', edit_player_path(@player) %>
<% end %>

<p>Name: <%= @player.name %></p>
<p>Description: <%= @player.description %></p>

<% if @player.playable %>
    <p>Player is available for matches.</p>
<% end %>

<% if @player.downloadable %>
    <p>Player can be downloaded.</p><!-- need link here -->
<% end %>

<p>Contest: <%= link_to @player.contest.name, @player.contest %></p>
<p>Created by: <%= link_to @player.user.username, @player.user %></p>

<h2><%= pluralize(@matches.count, 'Match') %></h2>



<%= form_tag player_path(@player), method: :get, id: :players_search do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search" %>
    </p>



    <ol>
        <%= render partial: 'player_matches/match_links',
          collection: @matches,
          as: 'player_match' %>
    </ol>

<%end%>

<p>Record: <%= @player.player_matches.wins.count %>-<%= @player.player_matches.losses.count %></p>
