<div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :rules_url %>
    <%= f.text_field :rules_url, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :players_per_game %>
    <%= f.select :players_per_game, 1..10, {}, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :upload, 'Upload file' %>
    <%= f.file_field :upload %>
</div>
