<h1>Create Referee</h1>

<%= form_for @referee do |f| %>
    <%= render 'shared/error_messages', object: @referee %>

    <div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
	<%= f.label :rules_url %>
	<%= f.text_field :rules_url, class: 'form-control' %>
    </div>

    <div class="form-group">
	<%= f.label :players_per_game %>
	<%= f.select :players_per_game, 1..10, {}, class: 'form-control' %>
    </div>

    <div class="form-group">
	<%= f.label :code, 'Upload file' %>
	<%= f.file_field :code, class: 'form-control' %>
    </div>

    <%= f.submit 'Create Referee', class: 'btn btn-primary' %>
<% end %>
