<h1>Referee information</h1>

<% if current_user == @referee.user and current_user.contest_creator %>
    <%= link_to 'edit', edit_referee_path(@referee) %>
<% end %>

<p>Name: <%= @referee.name %></p>
<p><%= link_to 'Rules', @referee.rules_url %></p>
<p>Players per game: <%= @referee.players_per_game %></p>
<p>Created by: <%= @referee.user.username %></p>

<h2>Contests</h2>
<ul>
    <% @referee.contests.each do |contest| %>
        <li><%= link_to contest.name, contest %></li>
    <% end %>
</ul>
