<nav class="navbar navbar-default" role="navigation">
    <div class="container">
    <div class="navbar-header">
        <%= link_to 'Game Contest Server', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <%= active_link_to 'Home', root_path,
                   wrap_tag: :li, active: :exclusive %>
        <%= active_link_to 'Users', users_path,
                   wrap_tag: :li, active: :exclusive %>
        <%= active_link_to 'Contests', contests_path,
                   wrap_tag: :li, active: :exclusive %>
        <%= active_link_to 'Referees', referees_path,
                   wrap_tag: :li, active: :exclusive %>
        <% if current_user and current_user.contest_creator %>
            <li class='dropdown'>
                <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Create a New... <span class='caret' /></a>
                <ul class='dropdown-menu'>
                    <li><%= link_to 'Contest', new_contest_path %></li>
                    <li><%= link_to 'Referee', new_referee_path %></li>
                </ul>
            </li>
        <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret" /></a>
                <ul class="dropdown-menu">
                    <%= active_link_to 'Profile', current_user, wrap_tag: :li, active: :exclusive %>
                    <%= active_link_to 'Settings', edit_user_path(current_user), wrap_tag: :li %>
                    <li class="divider"></li>
                    <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
                </ul>
            </li>
        <% else %>
            <li><%= button_to 'Log In', login_path, method: :get, class: 'btn btn-info navbar-btn' unless current_page?(login_path) %></li>
            <li><%= button_to 'Sign Up', signup_path, method: :get, class: 'btn btn-warning navbar-btn' unless current_page?(signup_path) %></li>
        <% end %>
    </ul>
</nav>
