<!DOCTYPE html>
<html>
<head>
  <title>GameContestServer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
	<div class="navbar-header">
	    <%= link_to 'Game Contest Server', root_path,
			class: 'navbar-brand' %>
	</div>
	<ul class="nav navbar-nav navbar-left">
	    <%= active_link_to 'Home', root_path,
			       wrap_tag: :li, active: :exclusive %>
	   <%= active_link_to 'Users', users_path,
			       wrap_tag: :li, active: :exclusive %>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	    <% if current_user %>
		<%= active_link_to 'Profile', current_user, wrap_tag: :li %>
		<%= active_link_to 'Log Out', logout_path, wrap_tag: :li %>
	    <% else %>
		<%= active_link_to 'Log In', login_path, wrap_tag: :li %>
		<%= active_link_to 'Sign Up', signup_path, wrap_tag: :li %>
	    <% end %>
	</ul>
    </nav>

    <div class="container">
	<% flash.each do |level, message| %>
	    <div class="alert alert-<%= level %>"><%= message %></div>
	<% end %>
	<%= yield %>
    </div>

</body>
</html>
